body {
  padding: 10px;
  font-family: sans-serif;
  background-color: rgb(144, 238, 172);
}

.navbar
{
    padding: .8rem;
}
.navbar-nav li
{
    padding-right: 20px;
}
.navigation {
background-color: rgb(83, 76, 175);
color: white;
}

.button1 {
  background-color: rgb(76, 175, 92); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
  background-color: rgb(76, 175, 81); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button3 {
  background-color: rgb(79, 175, 76); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}



 .button:hover {
background-color: rgb(100, 90, 0);
}

.loggedOutNav
{
  
  margin-left: 60%;
}
.loggedInNav
{
  margin-left: 40%;
}


/* Firefox Fix */
.carousel-item
{
    transition: --webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    --webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.provinceChooser
{
  margin-top: 3%;
}

.provinceButton
{
  margin: 1rem 0rem 1rem 0rem;
  /* background-color: rgb(83, 76, 175);  */
}

.mainButtons
{
  margin: 1rem 0rem 1rem 0rem;
}

.mainButtons button
{
  margin: .5rem 0rem .5rem 0rem;
}